@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600&family=VT323&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: rgb(33, 32, 34);
  overflow-x: hidden;
}

.max1200 {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "VT323", monospace;
  font-size: 4.8rem;
  color: #EEE;
  text-wrap: balance;
}

h3 {
  font-family: "VT323", monospace;
  font-size: 3.4rem;
  color: #EEE;
  text-wrap: balance;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.6rem;
  color: #EEE;
  font-weight: 300;
  line-height: 1.5;
}

.bold {
  font-weight: 600;
}

span.shadow {
  position: relative;
}

span.shadow::before {
  position: absolute;
  top: -4px;
  left: 4px;
  background: -webkit-linear-gradient(#a800c5, #ff9823);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

span.shadow::after {
  position: absolute;
  top: -8px;
  left: 7px;
  background: -webkit-linear-gradient(#a800c5, #ff9823);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -2;
}

.color1 {
  color: #992F8A;
}

.color2 {
  color: #BB2885;
}

.color3 {
  color: #DD3176;
}

.color4 {
  color: #EC6256;
}

.color5 {
  color: #FC9733;
}

@-webkit-keyframes rotate {
  100% {
    rotate: 360deg;
  }
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}
nav {
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(33, 32, 34, 0.6);
  z-index: 10;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
nav .max1200 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .max1200 img {
  height: 5.5rem;
  padding-left: 1rem;
}
nav .max1200 .burger {
  display: none;
}
nav .max1200 .burger .icon {
  display: none;
  padding: 1rem;
  right: 0;
  z-index: 30;
}
nav .max1200 .burger .show {
  display: block;
}
nav .max1200 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  padding-right: 1rem;
}
nav .max1200 ul li {
  list-style: none;
}
nav .max1200 ul li a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2rem;
  color: #EEE;
}

.navAside {
  background-color: rgb(27, 26, 28);
  position: fixed;
  height: calc(100vh - 60px);
  width: 100vw;
  left: -100vw;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 20;
  bottom: 0;
}
.navAside.active {
  left: 0;
}
.navAside .buttonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.navAside .buttonWrap a.button {
  text-decoration: none;
  font-size: 2.6rem;
  color: #EEE;
  font-family: "IBM Plex Mono", monospace;
  padding: 3rem 0;
}

#hero {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7rem;
}
#hero header {
  color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0 5rem 0;
  overflow: hidden;
}
#hero header h1 {
  font-family: "VT323", monospace;
  font-size: 5.8rem;
  text-align: center;
  text-wrap: balance;
}
#hero header h1 span.manhattan {
  line-break: strict;
}
#hero header h1 span.manhattan::before,
#hero header h1 span.manhattan::after {
  line-break: strict;
  content: "Manhattan";
}
#hero header h4 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 2.6rem;
  font-weight: 300;
  padding: 2.6rem 0 8rem 0;
  text-align: center;
}
#hero header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(117, 53, 143)), color-stop(50%, rgb(216, 34, 128)), to(rgb(255, 163, 43)));
  background: linear-gradient(180deg, rgb(117, 53, 143) 0%, rgb(216, 34, 128) 50%, rgb(255, 163, 43) 100%);
  width: 6rem;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#hero img.hero {
  display: block;
  width: 100%;
}

#history {
  padding: 25rem 0 5rem 0;
}
#history .historyWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#history .historyWrap img.history {
  width: 35%;
}
#history .historyWrap .historyText header.historyHeader {
  display: inline-block;
  position: relative;
}
#history .historyWrap .historyText header.historyHeader h2 {
  margin-bottom: 6rem;
}
#history .historyWrap .historyText header.historyHeader h2 span.history::before,
#history .historyWrap .historyText header.historyHeader h2 span.history::after {
  content: "A brief look into the past";
}
#history .historyWrap .historyText header.historyHeader img.hexagon {
  position: absolute;
  top: -1.5rem;
  left: 0.3rem;
  z-index: -3;
  height: 7rem;
  -webkit-animation: rotate 25s linear infinite;
          animation: rotate 25s linear infinite;
}

#architecture {
  padding: 25rem 0 5rem 0;
}
#architecture .architectureWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#architecture .architectureWrap a {
  text-decoration: underline;
}
#architecture .architectureWrap .architectureHeader {
  position: relative;
}
#architecture .architectureWrap .architectureHeader h2 {
  margin: 0 0 6rem 0;
}
#architecture .architectureWrap .architectureHeader h2 span.architecture {
  width: 39rem;
}
#architecture .architectureWrap .architectureHeader h2 span.architecture::before,
#architecture .architectureWrap .architectureHeader h2 span.architecture::after {
  content: "Architectural styles";
  width: inherit;
}
#architecture .architectureWrap .architectureHeader img.pentagon {
  position: absolute;
  height: 7rem;
  top: -1.4rem;
  right: -2.9rem;
  z-index: -3;
  -webkit-animation: rotate 25s linear infinite;
          animation: rotate 25s linear infinite;
}
#architecture .architectureWrap .artStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}
#architecture .architectureWrap .artStyle h3 {
  margin: 2rem 0;
}
#architecture .architectureWrap .artStyle .archWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
#architecture .architectureWrap .breakWrap {
  position: relative;
  max-width: 60rem;
  margin: 7rem 0 20rem 0;
}
#architecture .architectureWrap .breakWrap img.mainImg {
  width: 100%;
}
#architecture .architectureWrap .breakWrap img.crossImg {
  position: absolute;
  width: 8%;
  bottom: 30%;
  right: 15%;
  -webkit-animation: rotate 25s linear infinite;
          animation: rotate 25s linear infinite;
}

#iconic {
  margin-bottom: 10rem;
}
#iconic .iconicWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#iconic .iconicWrap .iconicHeader {
  position: relative;
}
#iconic .iconicWrap .iconicHeader h2 {
  margin-bottom: 6rem;
}
#iconic .iconicWrap .iconicHeader h2 span.iconic {
  width: 47rem;
}
#iconic .iconicWrap .iconicHeader h2 span.iconic::before,
#iconic .iconicWrap .iconicHeader h2 span.iconic::after {
  content: "Three most iconic pieces";
  width: inherit;
}
#iconic .iconicWrap .iconicHeader img.rectangle {
  position: absolute;
  top: -100%;
  height: 9rem;
  left: calc(50% - 3.5rem);
  -webkit-animation: rotate 25s linear infinite;
          animation: rotate 25s linear infinite;
}
#iconic .iconicWrap .buildingWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 11rem 0;
  gap: 5rem;
}
#iconic .iconicWrap .buildingWrap img {
  width: 24rem;
}
#iconic .iconicWrap .buildingWrap .buildingText {
  width: 50%;
  margin-left: 3rem;
}
#iconic .iconicWrap .buildingWrap .buildingText h3 {
  margin: 13rem 0;
}
#iconic .iconicWrap .buildingWrap:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#iconic .iconicWrap .buildingWrap:nth-child(3) .owtcText {
  margin: 0 3rem 0 0;
}

#gallery {
  margin-bottom: 20rem;
}
#gallery .galleryWrap .galleryHeader {
  position: relative;
  width: 27rem;
  margin: 6rem auto 13rem auto;
}
#gallery .galleryWrap .galleryHeader h2 {
  width: 29rem;
}
#gallery .galleryWrap .galleryHeader h2 span.gallery {
  width: inherit;
}
#gallery .galleryWrap .galleryHeader h2 span.gallery::before,
#gallery .galleryWrap .galleryHeader h2 span.gallery::after {
  content: "Panoramic views";
  width: inherit;
}
#gallery .galleryWrap .galleryHeader img.circle {
  position: absolute;
  z-index: -3;
  height: 11rem;
  top: -3.3rem;
  right: -2.8rem;
  -webkit-animation: rotate 25s linear infinite;
          animation: rotate 25s linear infinite;
}
#gallery .galleryWrap .galleryPanels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 83rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7rem;
  margin: auto;
}
#gallery .galleryWrap .galleryPanels .glightbox {
  display: block;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#gallery .galleryWrap .galleryPanels .glightbox::after {
  content: "";
  width: 36rem;
  height: 36rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(117, 53, 143)), color-stop(50%, rgb(216, 34, 128)), to(rgb(255, 163, 43)));
  background: linear-gradient(180deg, rgb(117, 53, 143) 0%, rgb(216, 34, 128) 50%, rgb(255, 163, 43) 100%);
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  z-index: -100;
}
#gallery .galleryWrap .galleryPanels .glightbox:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

footer {
  position: relative;
}
footer h6 {
  color: #7C7C7C;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
footer img {
  width: 100%;
}

@media all and (max-width: 880px) {
  nav .max1200 img {
    padding-left: 1rem;
    height: 5.5rem;
  }
  nav .max1200 .burger {
    display: block;
  }
  nav .max1200 .burger .icon {
    display: none;
  }
  nav .max1200 .burger .show {
    display: block;
  }
  nav .max1200 ul {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */