@import "variables";

#architecture {
   padding: 7rem 1.5rem 0 1.5rem;

   .architectureWrap {
      display: flex;
      flex-direction: column;
		justify-content: center;
      align-items: center;
      
      a {
         text-decoration: underline;
      }
      
      .architectureHeader {
         position: relative;
         
         h2 {
            margin: 0 0 6rem 0;

            span.architecture {
               width: 39rem;
            }
            
            span.architecture::before,
            span.architecture::after {
               content: "Architectural styles";
               width: inherit;
            }
            
         }

         img.pentagon {
            position: absolute;
            height: 7rem;
            top: -1.4rem;
            right: -2.9rem;
            z-index: -3;
            animation: rotate 25s linear infinite;
         }
      }
      .artStyle {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 3rem 0;

         h3 {
            margin: 2rem 0;
         }

         .archWrap {
            display: flex;
            align-items: center;
            gap: 5rem;
         }
      }
      .breakWrap {
         position: relative;
         max-width: 60rem;
         margin: 7rem 0 10rem 0;

         img.mainImg {
            width: 100%;
         }

         img.crossImg {
            position: absolute;
            width: 8%;
            bottom: 30%;
            right: 15%;
            animation: rotate 25s linear infinite;
         }
      }
   }
}