footer {
   position: relative;
   
   .footerWrap {
      font-family: 'IBM Plex Mono', monospace;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      font-size: 1.4rem;
      
      h6 {
         font-weight: 300;
         font-size: 1.4rem;
         color: #7C7C7C;
         margin-bottom: 1.5rem;
      }
      
      a {
         font-weight: 300;
         color: #7C7C7C;
         font-family: inherit;
         text-decoration: underline;
         transition: .1s;

         &:hover {
            color: $colorWhite;
         }
      }
   }
   
   img {
      width: 100%;
      padding-top: 5rem;
   }
}