@import "variables";

#gallery {
   padding: 7rem 0rem 20rem 0rem;

   .galleryWrap {

      .galleryHeader {
         position: relative;
         width: 27rem;
         margin: 6rem auto 13rem auto;
         
         h2 {
            width: 29rem;

            span.gallery {
               width: inherit;
            }

            span.gallery::before,
            span.gallery::after {
               content: "Panoramic views";
               width: inherit;
            }
         }

         img.circle {
            position: absolute;
            z-index: -3;
            height: 11rem;
            top: -3.3rem;
            right: -2.8rem;
            animation: rotate 25s linear infinite;
         }
      }

      .galleryPanels {
         display: flex;
         justify-content: space-around;
         max-width: 83rem;
         flex-wrap: wrap;
         gap: 7rem;
         margin: auto;
         
         .glightbox {
            display: block;
            position: relative;
            transition: .2s;
            
            &::after {
               content: "";
               width: 36rem;
               height: 36rem;
               background: $mainGradient;
               position: absolute;
               top: 1.2rem;
               left: 1.2rem;
               z-index: -100;
               transition: .2s;
            }

            &:hover {
               transform: translateY(-.7rem);
            }

            &:hover::after {
               transform: translateY(.7rem);
            }
         }
      }

      .galleryPanelsMobile {
         display: none;
      }
   }
}