@import "variables";

#history {
	padding: 25rem 0 5rem 0;

	.historyWrap {
		display: flex;
		gap: 5rem;
		align-items: center;

		img.history {
         width: 35%;
		}

		.historyText {

			header.historyHeader {
            display: inline-block;
            position: relative;
            

				h2 {
					margin-bottom: 6rem;

					span.history::before,
					span.history::after {
						content: "A brief look into the past";
					}
				}

            img.hexagon {
               position: absolute;
               top: -1.5rem;
               left: .3rem;
               z-index: -3;
               height: 7rem;
               animation: rotate 25s linear infinite;
            }
			}
		}
	}
}
