@import "variables";

#history {
	padding: 8rem 1.5rem 23rem 1.5rem;

	.historyWrap {
		display: flex;
		gap: 5rem;
		align-items: center;

		img.history {
         width: 35%;
		}

		.historyText {

			header.historyHeader {
            display: inline-block;
            position: relative;
            

				h2 {
					margin-bottom: 6rem;

					span.history::before,
					span.history::after {
						content: "Look into the past";
					}
				}

            img.hexagon {
               position: absolute;
               top: -1rem;
               left: .3rem;
               z-index: -3;
               height: 7rem;
               animation: rotate 25s linear infinite;
            }
			}
		}
	}
}
