@import "variables";

nav {

   position: fixed;
   width: 100%;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgb(33, 32, 34, 0.6);
   z-index: 10;
   backdrop-filter: blur(15px);

   .max1300 {
      display: flex;
      justify-content: space-between;

      img {
         height: 7rem;
      }
      
      ul {
         display: flex;
         justify-content: end;
         align-items: center;
         gap: 6rem;

         li {
            list-style: none;

            a {
               font-family: 'IBM Plex Mono', monospace;
               font-size: 2.2rem;
               color: $colorWhite;
            }
         }
      }
   }
}