@import "variables";

nav {
   position: fixed;
   width: 100%;
   left: 50%;
   transform: translateX(-50%);
   background-color: rgb(33, 32, 34, 0.6);
   z-index: 10;
   backdrop-filter: blur(15px);

   .max1200 {
      display: flex;
      justify-content: space-between;

      img {
         height: 5.5rem;
         padding-left: 1rem;
      }

      .burger {
         display: none;

         .icon {
            display: none;
            padding: 1rem;
            right: 0;
            z-index: 30;
         }

         .show {
            display: block;
         }
      }
      
      ul {
         display: flex;
         justify-content: end;
         align-items: center;
         gap: 6rem;
         padding-right: 2rem;

         li {
            list-style: none;
            overflow: hidden;

            a {
               position: relative;
               font-family: 'IBM Plex Mono', monospace;
               font-size: 2rem;
               color: $colorWhite;

               &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: -100%;
                  width: 100%;
                  height: .4rem;
                  background: $navGradient;
                  transition: .17s;
               }

               &:hover::after {
                  left: 0;
               }
            }
         }
      }
   }
}

.navAside {
   background-color: rgb(27, 26, 28);
   position: fixed;
   height: calc(100vh - 60px);
   width: 100vw;
   left: -100vw;
   transition: .25s;
   z-index: 20;
   bottom: 0;
   
   &.active {
      left: 0;
   }

   .buttonWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      a.button {
         display: block;
         width: 100%;
         text-decoration: none;
         text-align: center;
         font-size: 2.6rem;
         color: $colorWhite;
         font-family: 'IBM Plex Mono', monospace;
         padding: 3rem 0;
         transition: .2s;

         &:hover {
            background-color: #ffffff25;
         }
      }
   }
}