$colorBackground: rgb(33, 32, 34);
$colorWhite: #EEE;
$mainGradient: linear-gradient(180deg, rgba(117,53,143,1) 0%, rgba(216,34,128,1) 50%, rgba(255,163,43,1) 100%);
$textShadowGradient: linear-gradient(180deg, rgba(175,35,147,1) 0%, rgba(239,111,78,1) 100%);
$colorBold1: #992F8A;
$colorBold2: #BB2885;
$colorBold3: #DD3176;
$colorBold4: #EC6256;
$colorBold5: #FC9733;